* {
  max-width: 800px;
  margin: auto;
}

/*body {
    min-width: 500px;
}*/

#home {
  height: auto;

}

#header {
  height: 40px;
  width: 100%;
  background-color: #5959E2;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
}

#title {
  margin-left: 3%;
}

#footer {
  height: 40px;
  width: 100%;
  background-color: #5959E2;
  border-radius: 5px;
  clear: both;
  position: relative;
}

.left {
  height: 100%;
  width: 45px;
  background-color: #e0eeee;
  float: left;
  position: fixed;
}

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 90%;
  height: auto;
}

p {
  font-family: 'Cormorant Garamond';
}

li {
  font-family: 'Cormorant Garamond';
   margin-top: 4px;
   margin-bottom: 4px;
}

.head {
  font-size: 20px;
}

#name {
  font-family: Sacramento;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 430px) {
  .left,
  .right {
    display: none;
  }
  .stuff {
    width: 100%;
    margin-left: 10px;
  }
}

details {
  position: relative;
  transition: all .3s;
}

summary {
	  font-size: 20px;
	  font-family: 'Cormorant Garamond';
}

